/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th{
  background-color: #4CAF50;
  color: white;
}
body {font-family: Arial;}
/*CSS For Index Page Ends*/

/*Form CSS starts*/
* {
  box-sizing: border-box;
}

.form-control, #widget_kind {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.form-submit {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.form-submit:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  margin-left: 10px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

.form_input{
  width: 95%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
/*Form  CSS Ends*/

/*Flash MEssage CSS Starts*/
.alert{
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-alert{
  color: #721C1B;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success{
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
/*Flash MEssage CSS Ends*/

/*Button Css start*/
.button {
  text-align: center;
  text-decoration: none;
  color: white !important;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.primary {background-color: #008CBA; margin-top: 10px;}
.primary:hover {
  background-color: white;
  color: black !important;
  border: 2px solid #008CBA;
}
.search_button{
  margin-bottom: 15px;
}
/*Button Css Ends*/
